<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Adicionar Utente</title>
		<th:block th:insert="~{base.html :: link}"></th:block>
	</head>
	<body>
		<div th:replace="~{base.html :: navbar}"></div>
		<div class="container">
			<a th:href="@{/patients}" class="button is-custom">
				<i class="fas fa-chevron-left mr-2"></i>
				Voltar
			</a>
			<hr />
			<div class="card">
				<header class="card-header-title">
					<h2 class="title">Adicionar Novo Utente</h2>
				</header>
				<div class="card-content">
					<div class="content">
						<form
							th:action="@{/patients}"
							th:object="${patient}"
							method="POST"
						>
							<div class="field">
								<label for="name" class="label"> Nome </label>
								<div class="control">
									<input
										type="text"
										name="name"
										th:field="*{name}"
										id="name"
										class="input is-custom"
										placeholder="Nome do Utente..."
										required
									/>
								</div>
							</div>
							<div class="field">
								<label for="age" class="label"> Idade </label>
								<div class="control">
									<input
										type="text"
										name="age"
										th:field="*{age}"
										id="age"
										class="input is-custom"
										placeholder="Idade do Utente..."
										required
									/>
								</div>
							</div>
							<div class="field">
								<label for="scholarity" class="label">
									Escolaridade
								</label>
								<div class="control">
									<select
										name="scholarity"
										id="scholarity"
										th:field="*{scholarity}"
										class="select"
									>
										<option th:value="0">
											Ensino Básico
										</option>
										<option th:value="1">
											Segundo/Terceiro Ciclo
										</option>
										<option th:value="2">Secundário</option>
										<option th:value="3">
											Ensino Superior
										</option>
									</select>
								</div>
							</div>
							<div class="field">
								<label for="state" class="label">
									Estado
								</label>
								<div class="control">
									<select
										name="state"
										id="state"
										class="select"
										th:field="*{state}"
									>
										<option th:value="0">
											Em Stand By
										</option>
										<option th:value="1">
											Em avaliação
										</option>
										<option th:value="2">
											Em acompanhamento
										</option>
										<option th:value="3">
											Em intervenção
										</option>
									</select>
								</div>
							</div>

							<br />
							<button
								type="submit"
								class="button is-custom card-footer-item"
							>
								<i class="fa fa-plus mr-2"></i>
								Adicionar
							</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
