<!DOCTYPE html>
<html
	lang="en"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
>
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Registo de Utentes</title>
		<th:block th:insert="~{base.html :: link}"></th:block>
	</head>

	<body>
		<div th:replace="~{base.html :: navbar}"></div>
		<div
			class="
				container
				is-flex
				is-flex-direction-column
				is-align-items-center
				is-justify-contents-evenly
			"
		>
			<hr />
			<img
				th:src="@{/images/psi.png}"
				alt="psychology"
				style="width: 20%"
			/>
			<h1 class="is-size-2">Olá</h1>
			<h4 th:text="${user.name}" class="is-size-1"></h4>
			<br />
			<br />

			<hr />

			<a th:href="@{/patients}" class="button is-custom"
				>Utentes <i class="fas fa-arrow-right ml-2"></i
			></a>
			<br />
			<hr />
			<a th:href="@{/patients/add}" class="has-text-custom is-size-5"
				>Adicionar um novo Utente</a
			>
			<br />
			<br />
			<hr />
		</div>
	</body>
</html>
