<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Todos os Pacientes</title>
		<th:block th:insert="~{base.html :: link}"></th:block>
	</head>

	<body>
		<div th:replace="~{base.html :: navbar}"></div>
		<div class="container">
			<h1 class="title">Utentes</h1>
			<div class="level">
				<a
					th:href="@{/patients/add}"
					class="button is-custom level-right"
				>
					<i class="fa fa-plus mr-2"></i>Adicionar</a
				>
			</div>

			<table class="table is-fullwidth is-hoverable is-striped">
				<thead>
					<tr>
						<th>Nome Próprio</th>
						<th>Apelido</th>
						<th>Idade</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="patient: ${patients}">
						<td th:text="${patient.firstName}"></td>
						<td th:text="${patient.lastName}"></td>
						<td th:text="${patient.age}"></td>
					</tr>
				</tbody>
			</table>
		</div>
	</body>
</html>
