<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Editar Utente | Registo de Utentes</title>
		<th:block th:insert="~{base.html :: link}"></th:block>
	</head>
	<body>
		<div th:replace="~{base.html :: navbar}"></div>
		<div class="container">
			<nav class="breadcrumb">
				<ul>
					<li>
						<a th:href="@{/patients}">Utentes</a>
					</li>
					<li class="is-active">
						<a
							th:href="@{/patients/{id}(id=${patient.id})}"
							th:text="${patient.name}"
						></a>
					</li>
				</ul>
			</nav>
			<hr />

			<div class="card">
				<div class="card-content">
					<div class="level">
						<div class="level-left">
							<h2
								class="title level-item"
								th:text="${patient.name}"
							></h2>
						</div>
						<div class="level-right">
							<a
								th:href="@{/patients/{id}/edit(id=${patient.id})}"
								class="button is-dark is-inverted level-item"
							>
								<i class="fas fa-pencil-alt mr-2"></i>
								Editar
							</a>
							<a
								th:href="@{/patients/{id}/delete(id=${patient.id})}"
								class="button is-danger is-inverted level-item"
							>
								<i class="fas fa-trash-alt mr-2"></i>
								Apagar
							</a>
						</div>
					</div>
					<hr />
					<div class="content">
								<div class="columns">
									<div class="column is-one-half">
										<p
											for="name"
											class="has-text-weight-bold"
										>
											Nome
										</p>

										<p
											for="age"
											class="has-text-weight-bold"
										>
											Idade
										</p>
										<p
											for="scholarity"
											class="has-text-weight-bold"
										>
											Escolaridade
										</p>

										<p
											for="state"
											class="has-text-weight-bold"
										>
											Estado
										</p>
									</div>
									<div class="column is-one-half">
										<p for="name" th:text="${patient.name}">
											Nome
										</p>

										<p for="age" th:text="${patient.age}">
											Idade
										</p>
										<p
											for="scholarity"
											th:text="${patient.scholarity}"
										>
											Escolaridade
										</p>

										<p
											for="state"
											th:text="${patient.state}"
										>
											Estado
										</p>
									</div>
								</div>
								<hr>
								<div class="level">
									<div class="left-left">
										<h3
											class="
												subtitle
												has-text-grey
												level-item
											"
										>
											Registos
										</h3>
									</div>
									<div class="left-right">
										<a
											th:href="@{/patients/{id}/observations/add(id=${patient.id})}"
											class="
												button
												is-small is-light is-inverted
											"
											><i class="fas fa-plus mr-2"></i>
											Registo</a
										>
									</div>
								</div>
								<table
									class="
										table
										is-fullwidth is-hoverable is-striped
									"
								>
									<thead>
										<tr>
											<th>Observação</th>
											<th align="center">
												Data de criação
											</th>
											<th align="center">
												Data de modificação
											</th>
											<th></th>

										</tr>
									</thead>
									<tbody>
										<tr th:each="observation: ${patient.observations}">
											<td th:text="${observation.note}"></td>
											<td
												align="center"
												th:text="${observation.creationDate}"
											></td>
											<td
												align="center"
												th:text="${observation.modificationDate}"
											></td>
											<td align="right">
												<a
													th:href="@{/patients/{id}/observations/{observationId}/edit(id=${patient.id},observationId=${observation.id})}"
													class="button is-inverted is-dark is-rounded"
												>
													
													<i
														class="
															fas
															fa-pencil-alt
														"
													></i>
												</a>
												<a
													th:href="@{/patients/{id}/observations/{observationId}/delete(id=${patient.id},observationId=${observation.id})}"
													class="button is-inverted is-danger is-rounded"
												>
													
													<i
														class="
															fas
															fa-trash-alt
														"
													></i>
												</a>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
