<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Criar nova conta | Registo de Utentes</title>
		<th:block th:insert="~{base.html :: link}"></th:block>
	</head>
	<body>
		<div th:replace="~{base.html :: navbar}"></div>
		<div class="container">
			<div class="card">
				<header class="card-header-title">
					<h2 class="title">Criar nova conta</h2>
				</header>
				<div th:if="${param.success}" class="notification is-success">
					Conta criada com sucesso
				</div>
				<div class="card-content">
					<div class="content">
						<form
							th:action="@{/registration}"
							th:object="${user}"
							method="POST"
						>
							<div class="field">
								<label for="name" class="label"> Nome </label>
								<div class="control">
									<input
										type="text"
										name="name"
										th:field="*{name}"
										id="name"
										class="input is-custom"
										placeholder="Nome do Utilizador..."
										required
									/>
								</div>
							</div>
							<div class="field">
								<label for="email" class="label"> Email </label>
								<div class="control">
									<input
										type="email"
										name="email"
										th:field="*{email}"
										id="email"
										class="input is-custom"
										placeholder="Email..."
										required
									/>
								</div>
							</div>
							<div class="field">
								<label for="password" class="label">
									Email
								</label>
								<div class="control">
									<input
										type="password"
										name="password"
										th:field="*{password}"
										id="password"
										class="input is-custom"
										placeholder="Password..."
										required
									/>
								</div>
							</div>

							<br />
							<button
								type="submit"
								class="button is-custom card-footer-item"
							>
								<i class="fa fa-plus mr-2"></i>
								Criar
							</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
